PORT=3002
MONGO_URI=mongodb://127.0.0.1:27017/cda_appointments
MONGO_URI_ATLAS=
MONGO_DB_NAME=CDA_db
WHATSAPP_HABILITADO=true
WHATSAPP_INSTANCE_ID=instance176142
WHATSAPP_TOKEN=sov2hmfdj2fg28xt
WHATSAPP_DESTINO=3202294468
WHATSAPP_TIMEOUT_MS=15000
