PORT=3002
MONGODB_URI=mongodb://scooterscda_db_user:<db_password>@ac-hlwz7xf-shard-00-00.ehrowmf.mongodb.net:27017,ac-hlwz7xf-shard-00-01.ehrowmf.mongodb.net:27017,ac-hlwz7xf-shard-00-02.ehrowmf.mongodb.net:27017/CDA_db?ssl=true&replicaSet=atlas-t1p346-shard-0&authSource=admin&appName=ProyectoCDA
WHATSAPP_SERVICE_URL=http://localhost:3004
ADMIN_PHONE=3202294468
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_app_password_gmail
EMAIL_DEST=tu_correo@gmail.com
